# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE settings
.idea/
.vscode/

# OS metadata
.DS_Store
Thumbs.db
